In [1]:
pip install wordtodigits==1.0.0

Collecting wordtodigits==1.0.0
  Downloading https://files.pythonhosted.org/packages/e4/b0/b029d116ecb1e209bf47d4ea89308324c45358a4549f865b29ce4b4245d7/wordtodigits-1.0.0-py3-none-any.whl
Installing collected packages: wordtodigits
Successfully installed wordtodigits-1.0.0

In [0]:
from wordtodigits import convert

In [6]:
convert("A car accelerates uniformly over a time of five point two one seconds for a distance of one hundred and ten meters.")

A car accelerates uniformly over a time of 5.21 seconds for a distance of 110 meters.

In [7]:
convert("The algorithm should work from zero to nine hundred and ninety nine million nine  hundred and ninety nine thousand and nine hundred and ninety nine.")

The algorithm should work from 0 to 999999999.

Note that in the above problem the word "nine." at the end had a fullstop along with it. But still the code works.

In [8]:
convert("This is seven million one hundred and thirty one thousand three hundred and thirty seven.")

This is 7131337.

In [9]:
convert("one hundred point nine six two only.")

100.962 only.

In [10]:
convert("It should work for point two!")

It should work for 0.2!

Note that it works for numbers starting with "point". But it is also ensured that if "point" means something else (not a part of the number), its not converted (as shown below).

In [11]:
convert("This point is great")

This point is great

In [12]:
convert("This costs you one point.")

This costs you 1 point.

In [13]:
convert("Does it work for zero?")

Does it work for 0?

In [14]:
convert("seven hundred million sixty nine thousand point six two one only")

700069000.621 only

So it also works if "and" is missing in between the words of the numbers as shown above.

In [15]:
convert("This is for six and that is for seven point five zero rupees.")

This is for 6 and that is for 7.50 rupees.

Note that it also takes the precision of decimal points into account.

In [16]:
convert("Sixty point two")

60.2

In [17]:
convert("Point six")

0.6

Thus it is also taking into account the words starting with a capital alphabet



---



---